@model ElRegistratura.Models.Clinic

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите это удалить?</h3>

<div>
    <h4>Поликлиника</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Housing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Housing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
