@using ElRegistratura.Data
@using System.Security.Claims
@model ElRegistratura.Models.ViewModelTicket

@{
    ViewData["Title"] = "Проверка данных";
}

<h2>Проверка данных</h2>
<form method="post">

   
    @foreach (var item in Model.Ticket.Distinct())
        {
<table class="table">
    <thead>
        <tr>
            <th>ФИО Врача</th>
             <th>Специальность</th>
             <th>Кабинет</th>
            <th>Название поликлиники</th>
            <th>Адрес поликлиники</th>
            <th>Пациент</th>
            <th>Номер талона</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr >
                <td >
                  <label asp-for="FIODoctor">
                      @Model.FIODoctor
                  </label>
                </td>
                  <td>
                      <label asp-for="Spec">
                        @Model.Spec
                      </label>
                </td>
                 <td>
                     <label asp-for="Cabinet">@Model.Cabinet</label>
                   
                </td>
                <td>
                    <label asp-for="OnClinic">
                        @Model.OnClinic
                    </label>
                </td>
                 <td>
                     <label asp-for="Address">
                        @Model.Address
                    </label>
                </td>
                  <td>
                      @if(User.Identity.IsAuthenticated)
                    {
                        <label asp-for="FIOUser">
                        @Model.FIOUser
                    </label>
                    }
                </td>
                  <td>

                  @Html.DisplayFor(modelItem => item.Number)
                </td>
            </tr>
    </tbody>

</table>
<div>  <button type="submit" class="btn btn-primary "> <a class="btn-primary" 
    asp-controller="Home" asp-action="EditTicketPost" asp-route-id="@item.Id" >Записаться</a> </button> </div>  
           
}
</form>
