@using ElRegistratura.Data
@using System.Security.Claims
@model ElRegistratura.Models.ViewModelTicket

@{
    ViewData["Title"] = "Проверка данных";
}

<h2>Проверка данных</h2>
<form method="post">

   
    @foreach (var item in Model.Ticket.Distinct())
        {
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
             <th>Специальность</th>
             <th>Кабинет</th>
            <th>Название поликлиники</th>
            <th>Адрес поликлиники</th>
            <th>Пациент</th>
            <th>Номер талона</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Doctor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Doctor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Doctor.Patronymic)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Doctor.Speciality.Name)
                </td>
                 <td>
                     @foreach(var i in item.Schedule.Doctor.Clinic.Cabinets.Distinct())
                    {
                         @Html.DisplayFor(modelItem => i.Name)
                         
                    }
                   
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Schedule.Doctor.Clinic.Name)
                </td>
                 <td>
                  @Html.DisplayFor(modelItem => item.Schedule.Doctor.Clinic.Street.Name)
                  д.@Html.DisplayFor(modelItem => item.Schedule.Doctor.Clinic.HouseNumb), 
                  кор.@Html.DisplayFor(modelItem => item.Schedule.Doctor.Clinic.Housing)
                </td>
                  <td>
                      @if(User.Identity.IsAuthenticated)
                    {
                            
                         foreach (var u in Model.Users)
                         {
                              @Html.DisplayFor(modelItem => u.LastName)
                              @Html.DisplayFor(modelItem => u.FirstName)
                              @Html.DisplayFor(modelItem => u.Patronymic)
                         }
                    }
                </td>
                  <td>
                  @Html.DisplayFor(modelItem => item.Number)
                </td>
             
           
            </tr>
             
    </tbody>

</table>
<div>  <button type="submit" class="btn btn-primary "> <a class="btn-primary" 
    asp-controller="Home" asp-action="EditTicket" asp-route-id="@item.Id" >Записаться</a> </button> </div>  
           
}
</form>
