@model ElRegistratura.Models.ViewModelTicket

@{
    ViewData["Title"] = "Проверка данных";
}

<h2>Проверка данных</h2>

<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>

<form method="post">
    @foreach (var item in ViewModelTicket.Ticket)
        {
<table class="table">
    <thead>
        <tr>
            <th>ФИО Врача</th>
             <th>Специальность</th>
             <th>Дата</th>
             <th>Время</th>
             <th>Кабинет</th>
            <th>Название поликлиники</th>
            <th>Адрес поликлиники</th>
            <th>Пациент</th>
            <th>Номер талона</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr >
                <td >
                  <label asp-for="FIODoctor">
                      @ViewModelTicket.fioDoctor
                     
                  </label>
                </td>
                  <td>
                      <label asp-for="Spec">
                        @ViewModelTicket.spec
                      </label>
                </td>
                 <td>
                      <label asp-for="Date">
                         @ViewModelTicket.date
                      </label>
                </td>
                 <td>
                      <label asp-for="Time">
                        @ViewModelTicket.time
                      </label>
                </td>
                 <td>
                     <label asp-for="Cabinet"> @ViewModelTicket.cabinet</label>
                   
                </td>
                <td>
                    <label asp-for="OnClinic">
                         @ViewModelTicket.onClinic
                    </label>
                </td>
                 <td>
                     <label asp-for="Address">
                        @ViewModelTicket.address
                    </label>
                </td>
                  <td>
                      @if(User.Identity.IsAuthenticated)
                    {
                        <label asp-for="FIOUser">
                        @ViewModelTicket.fioUser
                    </label>
                    }
                </td>
                  <td>

                  <label asp-for="Number">
                      @ViewModelTicket.number
                  </label>
                </td>
            </tr>
    </tbody>

</table>
<div>  <button type="submit" class="btn btn-primary "> <a class="btn-primary" 
    asp-controller="Home" asp-action="EditTicketPost" asp-route-id="@item.Id" >Записаться</a> </button> </div>  
           
}
</form>
