@model IEnumerable<ElRegistratura.Models.Clinic>

<!DOCTYPE html>
<html lang="ru">
    <head>
       
    </head>
     <body style="background-image: url('/Images/fon.jpg');">
<div style="background-color: white">
    <h1>Поликлиники</h1>

<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Housing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumb)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Housing)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                
                    @* <a asp-controller="Home" asp-action="SpecialityDoctorsView" asp-route-id="@Url.RouteUrl(new
{ controller = "Home", action = "SpecialityDoctorsView",id = @item.Id })">Просмотреть специалистов</a>    *@ 
                            
                <a asp-controller="Home" asp-action="SpecialityDoctorsView" asp-route-id="@item.Id">Просмотреть специалистов</a> 
                
          @* @Url.RouteUrl(ViewContext.RouteData.Values)*@
            </td>
        </tr>
}
    </tbody>
</table>
</div>


</body>
</html>
