@model IEnumerable<ElRegistratura.Models.Doctor>
<!DOCTYPE html>
<html lang="ru">
    <head>
       
    </head>
     <body style="background-image: url('/Images/fon.jpg');">
         

<div style="background-color: white">
<h1>Врачи</h1>


<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>
    
<table class="table">
    <thead>
        <tr>
             <th>
               Фотография
            </th>
            <th>
               Фамилия
            </th>
            <th>
               Имя
            </th>
            <th>
               Отчество
            </th>
              
              <th>
                Специальность
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
{
        <tr>
            <td>
           @if(item.DoctorPicture!=null)
                {
                    <img style='width:60px; height:90px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.DoctorPicture))" />
                }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
          
           
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
              
            <td>
                <a asp-controller="Home" asp-action="ScheduleDoctorsView" asp-route-id="@item.Id">Расписание</a> 
              

             @* <a asp-controller="Home" asp-action="ScheduleDoctorsView" asp-route-id="@item.Id">Расписание</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
</html>
