@model IEnumerable<ElRegistratura.Models.Doctor>
<h1>Врачи</h1>
<div>
    <a class="navbar-brand" asp-controller="Home" asp-action="SpecialityDoctorsView">Назад</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
             @* <th>
                @Html.DisplayNameFor(model => model.Cabinet)
            </th>*@
             
              <th>
                @Html.DisplayNameFor(model => model.Speciality.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Cabinet)
            </td>*@
           
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
            <td>
                <a asp-controller="Home" asp-action="ScheduleDoctorsView" asp-route-id="@item.Id">Расписание</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
