@using ElRegistratura.Data
@model IEnumerable<ElRegistratura.Models.Speciality>


<h1>Специальности </h1>
<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>

<form method="get">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                 @*<a asp-controller="Home" asp-action="SpecialityDoctorsView" asp-route-id="@Url.RouteUrl(new
{ controller = "Home", action = "SpecialityDoctorsView",id = @item.Id })">Просмотреть специалистов</a>    *@  
     
             <a asp-controller="Home" asp-action="DoctorsView" asp-route-id="@item.Id">Просмотреть докторов</a> 
                  
                  
              
            </td>
        </tr>
}
    </tbody>
</table>
</form>

