@model IEnumerable<ElRegistratura.Models.Speciality>

<h1>Поликлиники</h1>
<div>
    <a class="navbar-brand" asp-controller="Home" asp-action="ClinicsView">Назад</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-controller="Home" asp-action="DoctorsView" asp-route-id="@item.Id">Просмотреть докторов</a> 
               @* <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>