@model IEnumerable<ElRegistratura.Models.Ticket>

@{
    ViewData["Title"] = "Расписание";
}

<h1>Расписание</h1>
<h3>Время</h3>
<a class="navbar-brand" href='javascript:history.go(-1)'>Назад</a>

<form>
    @foreach(var item in Model.OrderBy(t=>t.Time))
{
        var dt = DateTime.Now.TimeOfDay;
        if(item.Schedule.Data==DateTime.Today)
        {
         if(item.StatusId==1&&item.Time>DateTime.Now.TimeOfDay)
    {
    <button  type="submit" class="btn btn-primary "> 
    <a class="btn-primary" asp-area="" asp-action="CheckDataView" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Time)</a> 
    </button>
    }
    else
    {
    <button class="btn redColorBtn" > 
    @Html.DisplayFor(modelItem => item.Time)
                </button>
            } 
        }
        else
        {
            if(item.StatusId==1)
    {
    <button  type="submit" class="btn btn-primary "> 
    <a class="btn-primary" asp-area="" asp-action="CheckDataView" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Time)</a> 
    </button>
    }
    else
    {
    <button class="btn redColorBtn" > 
    @Html.DisplayFor(modelItem => item.Time)
                </button>
            } 
        }

}
</form>
