@using ElRegistratura.Models
@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Роли пользователей</h1>
<p>
    <a class="navbar-brand" asp-action="Index" asp-controller="RoleManager">Создать новую роль</a>
</p>
<div> <a class="navbar-brand" asp-controller="Home" asp-action="AdminView">Назад</a> </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Электронная почта</th>
            <th>Роли</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Управление ролями</a>
            </td>
        </tr>
        }
    </tbody>
</table>