@model ElRegistratura.Models.UserIndexViewModel
@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<div> <a class="navbar-brand" asp-controller="Home" asp-action="AdminView">Назад</a> </div>

<p>
    <a asp-action="Create">Создать нового пользователя</a>
</p>

<form method="get">
    <div>
        <label>Номер полиса: </label>
        <input asp-for="Name" />

        <input type="submit" value="Фильтр" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                День рождения
            </th>
            <th>
                
            Электронная почта
            </th>
            <th>
                Номер телефона 
            </th>
            <th>
                Полис
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PolisNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
