@model IEnumerable<ElRegistratura.Models.Position>

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<div> <a class="navbar-brand" asp-controller="Home" asp-action="AdminView">Назад</a> </div>

<p>
    <a asp-action="Create">Создать новую должность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
