@model ElRegistratura.Models.Schedule

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробнее</h1>

<div>
    <h4>Расписание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.LastName)
            @Html.DisplayFor(model => model.Doctor.FirstName)
            @Html.DisplayFor(model => model.Doctor.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>

