@model ElRegistratura.Models.ViewModelScheduleIndex

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<div> <a class="navbar-brand" asp-controller="Home" asp-action="AdminView">Назад</a> </div>
<p>
    <a asp-action="Create">Создать расписание на 1 день</a>
</p>
<p>
    <a asp-action="CreateWeek">Создать расписание на несколько дней</a>
</p>
<p>
    <a asp-action="CreateSchedule">Создать расписание </a>
</p>

<form method="get">
    <div>
        <label>Врач: </label>
        <select name="doctor" asp-items="Model.Doctor"></select>
  
        <input type="submit" value="Фильтр" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Врач
               
            </th>
            <th>
                Начало работы
            </th>
            <th>
                Конец работы
            </th>
            <th>
                Продолжительность приема
            </th>
            <th>
                Кабинет
            </th>
            <th>
                Показывается ли расписание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
      
  @*  if(item.Data<=DateTime.Today)
            {
                 <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Doctor.LastName)
            @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            @Html.DisplayFor(modelItem => item.Doctor.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cabinet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShow)
            </td>
            <td> 
                    
                     <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> 

            </td>
                </tr>
            }*@
           @* else
            {*@
                 <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Doctor.LastName)
            @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            @Html.DisplayFor(modelItem => item.Doctor.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cabinet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShow)
            </td>
            <td> 
                     <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                     <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                     <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>   

            </td>
        </tr>
         @*   }*@
           
}
    </tbody>
</table>
