@model IEnumerable<ElRegistratura.Models.Ticket>

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>
<div> <a class="navbar-brand" asp-controller="Home" asp-action="AdminView">Назад</a> </div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(i=>i.Time)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Data)
                @Html.DisplayFor(modelItem => item.Schedule.Doctor.LastName)
                @Html.DisplayFor(modelItem => item.Schedule.Doctor.FirstName)
                @Html.DisplayFor(modelItem => item.Schedule.Doctor.Patronymic)
                @Html.DisplayFor(modelItem => item.Schedule.Doctor.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> 
              @*  <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
